html
{
  padding-left: 30px;
  background-color: #efefee;
}

h1
{
  text-align: center;
}

#myCanvas
{
  float: left;
}

#canvasDiv
{
  width: 510px;
  height: 510px;
  border:4px solid #f79a04;
  border-radius:25px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: white;
  margin-left: 50px;
}

.btnShape
{
  float: right;
  width: 100px;
  height: 50px;
  margin: 20px;
  border-radius:20px;
  font-size: 16px;
  border: white;
  background-color: white;
}

#buttons
{
  width: 200px;
  float: right;
  padding-right: 100px;
}

#writeText
{
  display: none;
  position:absolute;
}