html
{
  padding-left: 30px;
}

h1
{
  text-align: center;
}

#myCanvas
{
  border:1px solid black; 
  float: left;
}

.btnShape
{
  float: right;
}

#buttons
{
  width: 50px;
  float: right;
  padding-right: 100px;
}

#writeText
{
  display: none;
  position:absolute;
}