html
{
  padding-left: 30px;
  background-color: #efefee;
  font-family: Arial, Helvetica, sans-serif;
}

h2
{
  float: right;
  color: #666666;
  height: 10px;
  padding-right: 340px;
}

h3
{
  color: #666666;
  height: 0px;
}

#h3head
{
  text-align: center;
}

#canvasDiv
{
  width: 710px;
  height: 420px;
  border:4px solid #f79a04;
  border-radius:25px;
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 50px;
  margin-top: 8px;
  background-color: white;
  float: left;
  padding-right: 10px;
}

.btnShape, Button
{
  float: right;
  width: 100px;
  height: 50px;
  margin: 5px;
  border-radius:20px;
  font-size: 16px;
  border: white;
  background-color: white;
  margin-top: 25px;
}

#shapeButtons
{
  width: 90px;
  float: left;
  padding-top: 30px;
  padding-left: 40px;
}

select {
  background-image: url(https://www.partnersincareny.org/assets/images/select_arrow.png);
  background-repeat:no-repeat;
  background-position:right top;
  width: 170px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  border-radius:20px;
}
.selectDiv
{
  height: 38px;
  width: 300px;
  margin-bottom: 10px;
  padding-top: 20px;
}

#h4new
{
  float: left;
  width: 100px;
  margin: 10px;
}

#h4dl
{
  float: left;
  width: 200px;
  margin-top: 40px;
}

#fixButtons
{
  width: 500px;
  float: center;
  padding-left: 40px;
}

.fixbtn
{
  height: 25px;
  margin: 10px;
}

#changeButtons
{
  width: 300px;
  float: right;
  margin-top: -14px;
}

#writeText
{
  display: none;
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius:10px;
  border-style:solid;
  border-color:red;
  background-color: #efefee;
  padding-top: 10px;
  padding-left: 50px;
}

#textSubmit
{
  float: center;
}

#textBox
{
  float: center;
  width: 170px;
}

#dldiv
{
  width: 550px;
  padding-left: 280px;
}

#dlbtn
{
  width: 250px;
  float: left;
  border: #039D03;
  border-style: solid;
}

div.upload {
    width: 250px;
    margin-top: 25px;
    margin-left: 10px;
    border-radius:20px;
    font-size: 16px;
    border: white;
    background: url(http://i.imgur.com/9HQgZBO.png) no-repeat center; 
    background-size: 250px 50px;
    float: left;
}

div.upload input {
    display: block !important;
    width: 250px !important;
    height: 50px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

#btn1
{
  color: #666666;
}
#btn2
{
  color: #FF6666;
}
#btn3
{
  color: #00CCFF;
}
#btn4
{
 color: #039D03;
}
#btn5
{
  color: #996666;
}
#btn8
{
  background-color: #FF6666;
  color: white;
}
#btn9
{
  color: #FF6666;
}
#btn7
{
  color: #FF6666;
}
#btn6
{
  color: #FF6666;
}

#btn1:hover
{
  background: #666666;
  color: white;
}

#btn2:hover
{
  background: #FF6666;
  color: white;
}

#btn3:hover
{
  background: #00CCFF;
  color: white;
}

#btn4:hover 
{
  background: #039D03;
  color: white;
}

#btn5:hover 
{
  background: #996666;
  color: white;
}




